.info {
  padding: 50px 24px 27px;
  color: white;
  font-family: "Kaspersky Sans", serif;
  font-style: normal;
  z-index: 1;
}

.info__title {
  font-size: 36px;
  line-height: 40px;
}

.info__line {
  width: 85px;
  height: 2px;
  margin: 34px 0 9px;
  border: none;
  background-color: white;
}

.info__subtitle {
  font-size: 24px;
  line-height: 27px;
  margin: 0 0 26px;
}

.info__point {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.info__point:last-of-type {
  margin-bottom: 0;
}

.info__tick {
  margin-top: 6px;
  width: 20px;
  height: 20px;
  background-image: url(../images/tick.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 14px;
  flex-shrink: 0;
}

.info__text {
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  color: #ffffff80;
}

.info__text span {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: white;
}

@media screen and (min-width: 900px) {
  .info {
    padding: 114px 0 0 20px;
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .info {
    padding: 114px 0 0 60px;
  }
}

@media screen and (min-width: 1440px) {
  .info {
    padding: 114px 0 0 166px;
    width: 607px;
  }

  .info__title {
    font-size: 64px;
    line-height: 68px;
    width: 607px;
  }

  .info__line {
    width: 89px;
    margin: 35px 0 5px;
  }

  .info__subtitle {
    font-size: 32px;
    line-height: 36px;
    margin: 0 0 50px;
    width: 538px;
  }

  .info__point {
    width: 503px;
  }

  .info__tick {
    margin-right: 16px;
  }

  .info__text {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
  }

  .info__text span {
    font-size: 24px;
    line-height: 32px;
  }
}
