.optimal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .optimal {
    padding: 0 40px;
    width: 1024px;
    margin: 52px auto 0;
  }
}

@media screen and (min-width: 1440px) {
  .optimal {
    padding: 0 134px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 104px;
  }
}
