.systems {
  margin-bottom: 43px;
}

.systems__title {
  font-family: "Kaspersky Sans", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: white;
  margin-bottom: 13px;
}

.systems__line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.systems__item {
  padding: 0 20px;
  border-right: 1px solid #666666;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.systems__item:first-of-type {
  padding: 0 20px 0 0;
}

.systems__item:last-of-type {
  padding: 0 0 0 20px;
  border: none;
}

@media screen and (min-width: 1024px) {
  .systems {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 8px;
    left: 40px;
  }

  .systems__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
    margin-right: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .systems {
    left: 137px;
  }
}
